<head>
  <title><%= content_for(:title) || product_name %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

  <%= combobox_style_tag %>

  <%= yield :plaid_link %>
  <%= javascript_importmap_tags %>
  <%= render "layouts/dark_mode_check" %>
  <%= turbo_refreshes_with method: :morph, scroll: :preserve %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="<%= product_name %>">

  <meta name="msapplication-TileColor" content="#F9F9F9">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <meta name="theme-color" content="#F9F9F9">

  <link rel="manifest" href="<%= pwa_manifest_path %>">
  <link rel="icon" type="image/svg+xml" href="<%= asset_path 'logomark-color.svg' %>">
  <link rel="shortcut icon" type="image/png" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="mask-icon" href="<%= asset_path 'logomark.svg' %>" color="#0B0B0B">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

  <% if Rails.env.production? && (posthog_config = Rails.configuration.x.posthog).try(:api_key).present? %>
    <%= render "shared/posthog", posthog_api_key: posthog_config.api_key, posthog_host: posthog_config.host %>
  <% end %>

  <%= yield :head %>
</head>
