<div class="space-y-3 md:space-y-4 pb-20 flex flex-col">
  <header class="flex justify-between items-center text-primary font-medium">
    <h1 class="text-lg md:text-xl">Transactions</h1>
    <div class="flex items-center gap-5">
      <div class="flex items-center gap-2">
        <%= render DS::Menu.new do |menu| %>
          <% menu.with_item(variant: "link", text: "New rule", href: new_rule_path(resource_type: "transaction"), icon: "plus", data: { turbo_frame: :modal }) %>
          <% menu.with_item(variant: "link", text: "Edit rules", href: rules_path, icon: "git-branch", data: { turbo_frame: :_top }) %>
          <% menu.with_item(variant: "link", text: "Edit categories", href: categories_path, icon: "shapes", data: { turbo_frame: :_top }) %>
          <% menu.with_item(variant: "link", text: "Edit tags", href: tags_path, icon: "tags", data: { turbo_frame: :_top }) %>
          <% menu.with_item(variant: "link", text: "Edit merchants", href: family_merchants_path, icon: "store", data: { turbo_frame: :_top }) %>
          <% menu.with_item(variant: "link", text: "Edit imports", href: imports_path, icon: "hard-drive-upload", data: { turbo_frame: :_top }) %>
          <% menu.with_item(variant: "link", text: "Import", href: new_import_path, icon: "download", data: { turbo_frame: "modal", class_name: "md:!hidden" }) %>
        <% end %>

        <div class="hidden md:flex">
          <%= render DS::Link.new(
            text: t(".import"),
            icon: "download",
            variant: "outline",
            href: new_import_path,
            frame: :modal,
          ) %>
        </div>

        <%= render DS::Link.new(
            text: "New transaction",
            icon: "plus",
            variant: "primary",
            href: new_transaction_path,
            frame: :modal,
            class: "hidden md:inline-flex"
          ) %>

        <%= render DS::Link.new(
            icon: "plus",
            variant: "icon-inverse",
            href: new_transaction_path,
            frame: :modal,
            class: "rounded-full md:hidden"
          ) %>
      </div>
    </div>
  </header>

  <%= turbo_frame_tag "transactions_summary" do %>
    <%= render "summary", totals: @search.totals %>
  <% end %>

  <div id="transactions"
       data-controller="bulk-select"
       data-bulk-select-singular-label-value="<%= t(".transaction") %>"
       data-bulk-select-plural-label-value="<%= t(".transactions") %>"
       class="flex flex-col bg-container rounded-xl shadow-border-xs p-3 md:p-4">
    <%= render "transactions/searches/form" %>

    <%= turbo_frame_tag "transactions_results" do %>
      <%= render "transactions/results" %>
    <% end %>
  </div>
</div>
